

// COLOR PALETTE
$yellow: #fff159;
$gray-light: #ebebeb;
$gray-dark: #666;
$black: #333;
$blue: #3483fa;
$white: #ffffff;
$green: #00a650;

// VARS TO USE INSIDE SCSS FILES
$primary-bg-color: $yellow;
$secondary-bg-color: $gray-light;
$third-bg-color: $white;
$primary-text-color: $black;
$secondary-text-color: $gray-dark;

//$BREAKPOINTS
$bp-md: 768px;
$bp-xl: 1200px;